*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(60deg, rgba(255, 240, 186, 0.5) 25%, transparent 25%, transparent 75%, rgba(255, 240, 186, 0.5) 75%, rgba(255, 240, 186, 0.5)), linear-gradient(120deg, rgba(255, 240, 186, 0.5) 25%, transparent 25%, transparent 75%, rgba(255, 240, 186, 0.5) 75%, rgba(255, 240, 186, 0.5));
  background-color: #fffbed; }

h3 {
  font-family: 'Courgette', cursive;
  font-size: 1.9rem; }

header {
  background-image: url("../../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  margin: 2rem 5vw; }
  @media only screen and (min-width: 75em) {
    main {
      margin: 2rem 14vw; } }

footer {
  color: #333;
  margin: 2rem auto;
  text-align: center;
  width: 70%; }
  footer a {
    color: #e0777d; }

.chip {
  color: #fff;
  padding: .5rem 2rem;
  margin-right: 1rem;
  border-radius: 2rem;
  background-color: #787878;
  margin-top: .5rem;
  font-size: 1.4rem; }

.msg-error {
  background-color: rgba(224, 119, 125, 0.7);
  text-align: center;
  color: #262626;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px; }
  .msg-error__icon {
    display: flex;
    font-size: 2.1rem;
    margin-right: .8rem; }
  .msg-error__icon__svg {
    fill: currentColor;
    width: 2rem;
    height: 2rem; }

.searchform {
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem 5rem;
  border-radius: 1rem;
  min-width: 30vw; }
  .searchform h2 {
    margin-bottom: 1.5rem;
    font-family: 'Ubuntu', sans-serif; }
  .searchform__form {
    text-align: center;
    display: flex; }
    .searchform__form input {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 3px solid transparent;
      font-size: 2rem;
      padding: 6px 6px 3px 6px;
      border-radius: 3px; }
      .searchform__form input:placeholder-shown {
        font-style: italic; }
      .searchform__form input:focus {
        border-bottom: 3px solid #315c55; }
    .searchform__form button {
      padding: .5rem 1.5rem;
      font-size: 1.8rem;
      margin-left: 1rem;
      background: #e0777d;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer; }
      .searchform__form button:hover, .searchform__form button:active, .searchform__form button:focus {
        background-color: #e58c91;
        outline: none;
        border: none; }

.pagination {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: center; }
  .pagination li {
    list-style: none;
    cursor: pointer;
    background-color: #fbfbfb; }
    .pagination li:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pagination li:last-child a {
      border-right-width: 1px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .pagination li:hover {
      background-color: #e1e1e1; }
    .pagination li.page-item.active {
      background: #e0777d;
      color: #fff; }
    .pagination li.page-link.disabled {
      display: none; }
  .pagination a {
    border: 1px solid #666666;
    border-right-width: 0px;
    padding: 5px 10px;
    display: block; }
    .pagination a:focus {
      outline: 0; }

.pagination-bottom {
  margin: 1rem 0; }

.breeds-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-gap: 4rem;
  margin: 3rem 0; }

.breed-card {
  background-color: #fbfbfb;
  box-shadow: 3px 3px 5px #a2a2a2;
  border-radius: 5px;
  display: flex;
  transition: transform .2s; }
  .breed-card__img {
    cursor: pointer;
    max-width: 50%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: opacity .1s ease-in;
    opacity: 1;
    max-height: 100%;
    height: 25rem; }
    .breed-card__img:hover {
      transition: opacity .5s ease-out;
      opacity: .7; }
  .breed-card__content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .breed-card__content-txt h3 {
      text-align: center; }
    .breed-card__content-txt p {
      padding: 10px 0px;
      font-size: 1.4rem; }
    .breed-card__content-btn {
      padding: 1rem;
      background-color: #549f93;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6rem; }
      .breed-card__content-btn:hover, .breed-card__content-btn:active, .breed-card__content-btn:focus {
        background-color: #315c55;
        outline: none; }
  .breed-card:hover {
    transform: translateY(-0.8rem) scale(1.03); }

.modal {
  position: fixed;
  z-index: 1300;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  animation: show .4s;
  transform: scale(1); }
  .modal__content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal__content__inner {
      z-index: 2000;
      position: relative;
      max-height: calc(100% - 100px);
      overflow-x: hidden;
      padding: 50px;
      background-color: #fffbed;
      border-radius: 1.5rem;
      max-width: 80vw; }
      @media only screen and (min-width: 75em) {
        .modal__content__inner {
          max-width: 50vw; } }
      .modal__content__inner h3:not(.modalTitle) {
        margin-top: 2rem; }

.closeButton {
  top: 5px;
  right: 5px;
  position: absolute;
  color: #333;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer; }
  .closeButton:hover, .closeButton:focus {
    background-color: #fff6d9;
    outline: none; }
  .closeButton__label {
    width: 100%;
    display: flex; }
  .closeButton__label-svg {
    width: 1em;
    height: 1em;
    font-size: 3.5rem; }

.modalTitle {
  font-size: 2.5rem;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 2rem;
  background: #549f93;
  color: white;
  border-radius: 5px;
  padding: 10px; }

/* --- Modal Images --- */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  margin: 1rem 0; }
  .gallery__item img {
    cursor: pointer;
    box-shadow: 3px 3px 5px #a2a2a2;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 30vh;
    transition: all .2s ease-out; }
    .gallery__item img:hover {
      object-fit: contain;
      transform: scale(1.5);
      box-shadow: none; }

@-moz-document url-prefix() {
  .gallery__item img {
    max-height: 50vh; } }

/* --- Modal Details --- */
.modalContent__main {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .modalContent__main-picture {
    width: 45%;
    border: 5px solid #787878;
    max-height: 30vh; }
  .modalContent__main-text {
    padding-left: 4rem; }

.modalTitlesInline {
  display: inline-block; }

.skills-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  justify-items: center;
  grid-gap: 1rem; }

.chip-container {
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap; }

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1; }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2; } }

.skills__title {
  margin-bottom: 1rem; }

.skills__container {
  display: flex; }
  .skills__container__item {
    list-style: none;
    border: 1px solid #e0777d;
    padding: 1rem 1.5rem;
    background-color: #fff; }
    .skills__container__item:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-left-width: 0px; }
    .skills__container__item:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-right-color: #e0777d; }
  .skills__container__active {
    background-color: #e0777d;
    border-right: 2px solid #fff;
    border-top-width: 0px;
    border-bottom-width: 0px; }
  .skills__container__item.skills__container__active:last-child {
    border-right-width: 0; }
