.searchform {
    background: rgba($color-white,.6);
    padding: 2rem 5rem;
    border-radius: 1rem;
    min-width: 30vw;
    & h2 {
        margin-bottom: 1.5rem;
        font-family: 'Ubuntu', sans-serif;
    }
    &__form {
        text-align: center;
        display: flex;
        & input {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 3px solid transparent;
            font-size: 2rem;
            padding: 6px 6px 3px 6px;
            border-radius: 3px;
            &:placeholder-shown {
                font-style: italic;
            }
            &:focus {
               border-bottom: 3px solid darken($color-primary, 20%);
            }
        }
        & button {
            padding: .5rem 1.5rem;
            font-size: 1.8rem;
            margin-left: 1rem;
            background: $color-tertiary;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            &:hover, &:active, &:focus{
                background-color: lighten($color-tertiary, 5%);
                outline: none;
                border:none;
            }
        }
    }
}




